.header {
    &__back-icon {
        color: #fff;
    }
}
.menu {
    margin-bottom: 50px;
    &__close {
        position: absolute;
        font-size: 32px;
        right: -10px;
        top: -10px;
        width: 30px;
        height: 30px;
        line-height: 30px!important;
        text-align: center;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(black, 0.3);
        background: white;
        cursor: pointer;
        font-weight: 500;
        z-index: 15;
    }
    &__tabs {
        background: #fff;
        position: fixed;
        top: 10vh;
        min-width: 100%;
        box-shadow: 0 3px 3px rgba(#000, 0.3);
        z-index: 6;
    }
    &__image {
        width: 10vw;
        height: 10vh;
        background-position: center;
        background-size: cover;
    }
    &__main {
        margin-top: calc(10vh + 48px);
    }
    &__dish {
        flex-direction: column;
        align-items: center;
        display: flex;
        flex: 1;
        margin-top: 20px;
        &__image {
            width: 90%;
        }
    }
}

.section {
    &__title {
        width: 100%;
        padding: 7px 0;
        line-height: 1;
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        background: rgba(#fff, 0.6);
    }
    &__description {
        font-size: 15px;
		font-weight: 300;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
        margin-bottom: 10%;
    }
    &__image {
        height: 20vh;
        width: 100%;
        display: flex;
        align-items: flex-end;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}

.dish {
    &__title {
        display: flex;
        font-size: 20px;
		font-weight: 500;
        padding-left: 5%;
        align-items: center;
        align-self: flex-start;
        svg {
            margin-right: 5px;
        }
        margin-bottom: 2%;
    }
    &__description {
        font-size: 16px;
		font-weight: 200;
        text-align: left;
        padding-left: 5%;
        padding-right: 5%;
    }
    &__price {
        font-size: 14px;
        font-weight: 700;
        padding-right: 5%;
        align-self: flex-end;
    }
    &__image {
        width: 90%;
        height: 20vh;
        margin-bottom: 1%;
        border-radius: 10px;
        background-size: 100% auto;
        background-position: 50% 0;
        background-attachment: fixed;
    }
}
