.promo-dialog {
    width: 90vw;
    max-width: 800px;
    height: 60vh;
    &__slide {
        height: 60vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        &__title{
            padding-bottom: 10px;
            position: absolute;
            text-align: center;
            padding-top: 10px;
            font-weight: 700;
            font-size: 18px;
            width: 100%;
            bottom: 9%
        }
    }
}
.MuiDialog-paperWidthSm {
    max-width: none!important;
}
