.swiper-container {
	margin: 0 !important;
}
.carrousel {
	text-align: center;
	&__bullets {
		width: 10px;
		height: 10px;
		background-color: rosybrown;
		border-radius: 25px;
	}
	&__title {
		font-size: 20px;
		font-weight: 500;
	}
	&__button {
		width: 2% !important;
	}
	&__swiper {
		display: flex;
		justify-content: center;
	}
	&__large {
		width: 100vw;
		height: 250px;
		border-radius: 3px;
		box-shadow: 1px 1px 4px 1px #000000;
	}
	&__medium {
		width: 100vw;
		height: 125px;
		border-radius: 5px;
		box-shadow: 1px 1px 4px 1px #000000;
	}
	&__small {
		width: 100vw;
		height: 75px;
		border-radius: 25px;
		box-shadow: 1px 1px 4px 1px #000000;
	}
	&__slide {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		&-title {
			font-size: 20px;
			background: rgba(#fff, 0.5);
			flex-grow: 1;
			padding: 20px 0;
			&_small {
				font-size: 16px;
				padding: 10px 0;
			}
		}
	}
	&__button {
		&_prev {
			svg {
				transform: rotate(180deg);
			}
		}
	}
}
