input, button, submit { border:none; } 
.order-dialog {
    width: 90vw;
    max-height: 80vh;
    border-radius: 25px;
    &__button {
        border-radius: 0 0 3px 3px !important;
        align-self: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    &__title {
        width: 100%;
        height: 27px;
        display: flex;
        padding: 10px 0;
        text-align: center;
        align-items: center;
        border-radius: 3px 3px 0 0;
        justify-content: space-between;
        box-shadow: 0 0 5px rgba(black, 0.3);
    }
    &__title-text {
        font-size: 18px;
        font-weight: 700;
        padding-left: 12px;
        &__total {
            font-size: 14px;
            font-weight: 700;
            padding-right: 12px;
        }
    }
    &__list {
        height: 60vh;
        overflow-y: auto;
    }
    &__item {
        display: flex;
        font-size: 14px;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 5px 5px 5px;
    }
    &__item-text {
        max-width: 68%;
        margin-left: 10px;
        &__title {
            font-size: 15px;
            font-weight: 500;
            text-align: justify;
        }
        &__quantity {
            width: 100%;
            font-size: 12px !important;
            font-weight: 500;
            text-align: right;
            &-button {
                width: 23px;
                margin: 0 10px;
                font-size: 12px;
                border-width: 1px;
                border-radius: 2px;
                background-color: white;
                box-shadow: 0 0 2px rgba(black, 0.3);
            }
        }
        &__price {
            text-align: center;
            font-size: 14px;
            font-weight: 700;
        }
    }
}

.MuiDialog-paper {
    margin: 0 !important;
}