.restaurant {
	padding-bottom: 4vh;
	text-align: center;
	&__main {
		margin-top: calc(10vh + 20px);
	}
	&__carrousel {
		width: 100%;
		margin-top: 20px;
		align-items: center;
		justify-content: center;
	}
	&__skeleton {
		margin-top: 20px;
	}
}
.header {
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	box-shadow: 0 0 10px rgba(#000, 0.5);
	top: 0;
	margin-right: 0;
	z-index: 5;
	padding-left: 20px;
	box-sizing: border-box;
	&_no-icon {
		padding: 0 20px 0 0;
	}
	&__icon {
		height: 100%;
		flex-shrink: 0;
		img {
			height: 100%;
		}
	}
	&__title {
		font-size: 20px;
		font-weight: 700;
	}
	&__back-icon {
		box-sizing: border-box;
		left: 0;
		height: 100%;
		display: flex;
		align-items: center;
		span {
			position: relative;
			left: -5px;
			font-size: 13px;
		}
	}
}
.MuiDialog-paper {
	overflow: visible!important;
}
