
.swiper-container {
	width: 100%;
	min-height: 350px;
}

.landing {
	width: 100%;
	min-height: 100vh;
	background: #FFF;
	* {
		box-sizing: border-box;
		font: inherit;
	}
	&__top-block {
		max-width: 1152px;
		margin: 0 auto;
		display: flex;
		padding: 60px 30px;
		color: #1B3B6F;
		justify-content: space-between;
		&-text {
			max-width: 487px;
			margin: 0 50px 0 0;
			h1 {
				font-size: 45px;
				text-align: center;
				margin: 0;
				font-weight: 700;
			}
			p {
				font-size: 34px;
				text-align: right;
				margin: 100px 0 0 0;
			}
		}
		&-image {
			max-width: 400px;
			img {
				width: 100%;
			}
		}
	}
	&__slider-block {
		padding: 35px 30px;
		background: #21295C;
		box-shadow: inset 0px 6px 5px 5px rgba(0, 0, 0, 0.25);
		&-title {
			color: #fff;
			font-size: 45px;
			text-align: center;
			margin: 0 0 60px 0;
			font-weight: 700;
		}
		&-inner {
			max-width: 1152px;
			margin: 0 auto;
		}
	}
	&__slider {
		display: flex;
		align-items: center;
		&-button {
			svg {
				fill: #fff;
				font-size: 40px;
			}
		}
		&-bullet {
			width: 12px;
			height: 12px;
			margin: 0 10px;
			cursor: pointer;
			display: inline-block;
			border-radius: 100%;
			background-color: white;
		}
		&-active-bullet {
			width: 12px;
			height: 12px;
			margin: 0 10px;
			cursor: pointer;
			border-radius: 100%;
			display: inline-block;
			border: white 2px solid;
			background-color: #21295C;
		}
	}
	&__slide {
		background: #fff;
		border-radius: 5px;
		overflow: hidden;
		filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.25));
		&-image {
			background: #C4C4C4;
			height: 210px;
		}
		&-text {
			color: #1B3B6F;
			padding: 10px 20px;
			font-size: 20px;
			text-align: center;
			b {
				font-weight: 700;
			}
		}
	}
	&__contact-block {
		max-width: 1152px;
		margin: 0 auto;
		text-align: center;
		padding: 100px;
		color: #1B3B6F;
		h2 {
			font-size: 28px;
			font-weight: 500;
			margin: 0 0 40px 0;
		}
		&-button {
			font-size: 32px;
			color: #fff;
			background: #21295C;
			display: inline-block;
			line-height: 80px;
			height: 80px;
			border-radius: 10px;
			padding: 0 50px;
			font-weight: 500;
			appearance: none;
			outline: none;
			cursor: pointer;
			transition: all 0.3s;
			&:hover {
				background: lighten(#21295C, 10%);
			}
		}
	}
	&__bottom {
		text-align: right;
		color: #1B3B6F;
		font-size: 20px;
		font-weight: 500;
		padding: 10px;
	}
}
